<div class="field">
    <label for="">{{label}}</label>
    <input *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control" />
    <textarea name="" id="" cols="30" rows="10" *ngIf="controlType === 'textarea'" [formControl]="control" ></textarea>
    <div class="ui pointing red basic label" *ngIf="showError()">
        <p *ngIf="control.errors?.required">
            Value is required
        </p>
        <p *ngIf="control.errors?.email">
           Enter a valid email address
        </p>
        <p *ngIf="control.errors?.minlength">
            Value entered is {{control.errors?.minlength.actualLength}} 
            characters long, but  it must be at least 
            {{control.errors?.minlength.requiredLength}}
            characters
        </p>

        <p *ngIf="control.errors?.maxlength">
            Value entered is {{control.errors?.maxlength.actualLength}} 
            character long, but  it must no be greater than
            {{control.errors?.maxlength.requiredLength}}
            characters
        </p>

        <p *ngIf="control.errors?.pattern">
            Invalid format
        </p>

        <p *ngIf="control.errors?.nonUniqueUsername">
            Username is taken
        </p>

        <p *ngIf="control.errors?.noConnection">
            Can't tell if username is taken
        </p>
    </div>
</div>